﻿@model IEnumerable<EjercicioTalper.Models.ViewModels.ProspectoViewModel>

@{
    ViewBag.Title = "Evaluar Prospectos";
}

<link rel="stylesheet" href="~/Scripts/CSS/materialize.min.css">
<link rel="stylesheet" href="~/Scripts/CSS/materialize.css">
<h2 style="text-decoration:dashed; text-align:center;">@ViewBag.Title</h2>
<div>
    <table class="tab-content">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido Paterno
            </th>
            <th>
                Apellido Materno
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoPaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                </td>
                <td>
                    <button id="abrir" onclick="viewInfo(@(item.PKProspecto))" class="btn-info">Ver Detalles</button>
                </td>
                <td>
                    <button id="btnAutorizar" onclick="sendEvaluation(@(item.PKProspecto),'AUTORIZADO')" class="btn-success">Autorizar</button>
                </td>
                <td>
                    <button id="btnRechazar" onclick="sendEvaluation(@(item.PKProspecto),'RECHAZADO')" class="btn-danger">Rechazar</button>
                </td>
            </tr>
        }

    </table>

</div>
<div id="modal" class="modal">
    <div class="flex" id="flex">
        <div class="contenido-modal">
            <div class="modal-header flex">
                <h id="name" style="width: 150px;"></h>
                <span class="close" id="close" onclick="cerrar()">&times;</span>
            </div>
        </div>

        <form id="applyForm">
            <div class="row">
                <div class="col s12">
                    <div class="job-title col s12 m4">
                        <label for="txtEstatus">Estatus</label>
                        <input id="txtEstatus" type="text" name="Estatus" readonly="readonly" />
                    </div>
                    <div class="job-title col s12 m4">
                        <label for="txtCalle">Calle</label>
                        <input id="txtCalle" type="text" name="Calle" readonly="readonly" />
                    </div>
                    <div class="job-title col s12 m4">
                        <label for="txtNumero">Número</label>
                        <input id="txtNumero" type="text" name="Numero" readonly="readonly" />
                    </div>
                    <div class="job-title col s12 m4">
                        <label for="txtColonia">Colonia</label>
                        <input id="txtColonia" type="text" name="Colonia" readonly="readonly" />
                    </div>
                    <br />
                    <div class="job-title col s12 m4">
                        <label for="txtCodigoPostal">Código Postal</label>
                        <input id="txtCodigoPostal" type="text" name="CodigoPostal" readonly="readonly" />
                    </div>
                    <div class="job-title col s12 m4">
                        <label for="txtTelefono">Teléfono</label>
                        <input id="txtTelefono" type="text" name="Telefono" readonly="readonly" />
                    </div>
                    <div class="job-title col s12 m4">
                        <label for="txtRFC">RFC</label>
                        <input id="txtRFC" type="text" name="RFC" readonly="readonly" />
                    </div>
                    <div  class="job-title col s12 m4">
                        <label id="lblObservaciones" style="visibility:hidden" for="txtObservaciones">Observaciones de Rechazo</label>
                        <input id="txtObservaciones" style="visibility:hidden" type="text" name="Observaciones" readonly="readonly" />
                    </div>
                    <div class="job-title col s12 m4">
                        <label style="visibility:hidden" for="txtObservaciones">Observaciones de Rechazo</label>
                        <input  style="visibility:hidden" type="text" name="Observaciones" readonly="readonly" />
                    </div>
                    <div id="goals-documents">
                        <label>Descargar Documento(s)</label>
                        <br />
                    </div>
                    <br />
                </div>
            </div>
        </form>
    </div>
</div>
<template id="templete-documentos">
    <a href="#" onclick="actDownload(x)">N</a>
    <br />
</template>
<script src="~/Scripts/MostrarProspectosScript.js"></script>
<script src="~/Scripts/materialize.min.js"></script>
<script>
    function sendEvaluation(Pk, status) {
        debugger;
        accion = status == 'AUTORIZADO' ? 'autorizar' : 'rechazar';
        var result = confirm("¿Esta Seguro de " + accion + " prospecto?");
        if (result == true) {
            var data = {
                PKProspecto: Pk,
                Estatus: status,
                Observaciones: ""
            };
            if (status == "RECHAZADO") {
                data.Observaciones = prompt("Observaciones por rechazo");
            }
        } else {
            return;
        }
        dat = JSON.stringify(data);
        $.ajax({
            type: "POST",
            url: '/Evaluate/SendEvaluated',
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: data,
            success: function (d) {
                alert('Registro Exitoso');
                window.location.reload();
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error!!');
            }
        });
    }
</script>