/*

Theme Name: Tapia

Theme URI: http://mexicamarketing.com.mx/citapia

Author: WP Shaper

Author URI: https://wp-shaper.com

Description: Tapia is an amaizing construction theme

Version: 1.0

Text Domain: tapia

*/



/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 Normalize

2.0 Accessibility

3.0 Alignments

4.0 Clearings

5.0 Typography

6.0 Forms

7.0 Formatting

8.0 Lists

9.0 Tables

10.0 Links

11.0 Featured Image Hover

12.0 Navigation

13.0 Layout

   13.1 Header

   13.2 Front Page

   13.3 Regular Content

   13.4 Posts

   13.5 Pages

   13.6 Footer

14.0 Comments

15.0 Widgets

16.0 Media

   16.1 Galleries

17.0 Customizer

18.0 SVGs Fallbacks

19.0 Media Queries

20.0 Print

--------------------------------------------------------------*/



/*--------------------------------------------------------------

1.0 Normalize

Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css

--------------------------------------------------------------*/

@font-face {

    font-family: myriad;

    src: url(fonts/Myriad_Pro_Regular.ttf);

}

html {

	margin-top: 0px !important;

}

body{

	font-family: Poppins;

	font-weight: 400;

	font-size: 12px;

overflow-x: hidden;

}





a{

	color: #000;

}



.devider{

	float: left;

	width: 100%;

	height: 70px;

}



.no_padding{

	padding: 0px !important;

}



.no_margin{

	margin: 0px !important;

}





.header{

	float: left;

	width: 100%;

	display: block;

}





.top_head {

	width: 100%;

	float: left;

}



.call-section,

.social_icons,

.top_head_menu li{



	margin-top: 12px;

}



.content_top_head {

	width: 100%;

	float: left;

	background: #fafafa;

	height: 45px;

	margin-bottom: 20px;

}



.call-section{

	color: #004a98;

	font-family: Poppins;

	font-weight: 400;

}



.call-section span {

	font-weight: 600;

	padding-right: 12px;

}

.left-full .widget-title {

	display: none;

}



.social_icons {

	float: right;

	display: block;

	word-spacing: 10px;

	color: #004a98;

	font-weight: bolder;

	display: inline-flex;

	padding: 0px;

	margin-left: 0px;

	list-style: none;

	/* padding: 0px 5px; */

}

.social_icons li {

	padding: 0px 6px;

}

.left-full{

	float: left;

	width: 100%;

}



.social_icons i{

	color: #004a98;

}



.top_head_menu {

	list-style: none;

	display: block;

	border-left: 1px solid #efefef;

	border-right: 1px solid #efefef;

	height: 45px;

	padding: 0 17%;

}



.top_head_menu li {

	display: inline-block;

}



.top_head_menu li:first-child {

	padding: 0 10% 0 0;

	border-right: 1px solid #b5b5b5;

}

.top_head_menu li:last-child {

	padding: 0 0 0 10%;

}



#fakeLoader {

    position: fixed;

    width: 100%;

    height: 100%;

    top: 0px;

    left: 0px;

    background-color: rgb(255, 255, 255);

    z-index: 999;

    display: table;

}



#fakeLoader .inner {

	display: table-cell;

	text-align: center;

	vertical-align: middle;

}



#fakeLoader .inner img {

	max-width: 60%;

	height: auto;

}





/*********************************



Top Head with Navbar



*********************************/

.content_head{

	display: block;

	width: 100%;

	float: left;

}

.navbar {

	list-style: none;

	font-weight: 400;

	padding-top: 30px;

	padding-bottom: 30px;

	font-size: 13px;

}



.navbar li {

	display: inline;

	padding: 8px;

}



.cert img {

	height: auto;

	max-width: 100%;

}



.img-certificate,

.text-certificate {

	float: left;

	width: 100%;

}



.img-certificate img{

	text-align: center;

}



.img-certificate img {

	text-align: center;

	margin-left: -40px;

	margin-bottom: 38px;

}



.text-certificate p {

	font-weight: 100;

	font-size: 10px;

	text-align: center;

	color: DodgerBlue;

	margin-top: -37px;

	margin-left: 250px;

	line-height: 1em;

}



.page-header {

	margin: 0;

}



.subheader {

	background-color: #000;

}



.subheader .page-title {

	color: #fff;

	font-family: 'Poppins', sans-serif;

	font-size: 40px;

	font-size: 4rem;

	font-weight: 700;

	margin-bottom: 130px;

	margin-top: 70px;

}



.tnp-subscription-minimal input.tnp-email {

	max-width: 100% !important;

	min-width: auto !important;

	display: block !important;

	width: 100% !important;

}





/*********************************



Hero Area



*********************************/



.hero_area {

	width: 100%;

	height: 100%;

	position: relative;

	z-index: 1;

	height: 800px;

}



.overlay{

	position: absolute;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    background-color: rgba(0,0,0,0.4);

    z-index: 2;

}



.hero_area img{

	width: 100%;

}



.hero_text{

	width: 80%;

	position: absolute;

	top: 30%;

	left: 10%;

	z-index: 11;

	text-transform: uppercase;

	color: #fff;

	text-align: center;

}

.masonry-column {

  padding: 0 1px;

}



.masonry-grid > div .thumbnail {

  margin: 5px 1px;

}



#custom_newsletter .tnp-email {

	/* width: 100% !important; */

	border-radius: 30px !important;

	height: 42px !important;

	min-width: 390px;

}

#custom_newsletter .tnp-submit {

	margin-right: 0;

	border-radius: 30px !important;

	height: 40px;

	width: 119px !important;

	background-color: #000 !important;

	position: absolute;

	top: 1px;

	right: 0;

}



.hero_text h2 {

	font-weight: 600;

	font-size: 50px;

	font-size: 5rem;

	padding-bottom: 15px;

}



.hero_text h4{

	font-weight: 400;

	font-size: 22px;

	padding-bottom: 25px;

}



.hero_text h5{

	font-family: myriad;

	font-size: 15px;

	padding-bottom: 35px;

	line-height: 1.5em;

}



.hero_text button{

	text-transform: uppercase;

	font-family: 400;

	font-size: 13px;

	background: #004a98;

	border-color: #004a98;

	border-radius: 0px;

}



.tapia-hero > div > div > div {

	padding: 0;

}



.tapia-hero .btn {

    background-color: #004a98;

    border-radius: 0;

    border: 0;

    font-family: 'Poppins', sans-serif;

    font-size: 18px;

    font-size: 1.6rem;

    font-weight: 400;

    padding: 12px 30px;

}



.tapia-hero .btn:hover,

.tapia-hero .btn:focus {

	opacity: .8;

}



.hero_area img {

	height: 100%;

}



.tapia_video_hero {

	background: transparent;

	position: relative;

	width: 100%;

}



.tapia_video_hero .hero_overlay {

	background: rgba( 0, 0, 0, 0.5 );

	display: table;

	height: 100%;

	left: 0;

	position: absolute;

	top: 0;

	width: 100%;

}



.tapia_video_hero .hero_overlay .desc {

	color: #fff;

	display: table-cell;

	vertical-align: middle;

	text-align: center;

}



.tapia_video_hero .video {

	min-height: 100%;

	width: 100%;

	z-index: 1;

}



.tapia_video_hero .hero_overlay {

	z-index: 2;

}



.tapia_video_hero .hero_overlay .desc h2 {

	color: #fff;

    font-size: 50px;

    font-size: 5rem;

    font-weight: 600;

    line-height: 1.5;

    margin-bottom: 20px;

    margin-top: 0;

	text-align: center;

}



.tapia_video_hero .hero_overlay .desc h4 {

	font-size: 22px;

	font-size: 2.2rem;

	font-weight: 400;

	line-height: 1.5;

	margin-bottom: 25px;

	margin-top: 0;

	text-align: center;

}



.tapia_video_hero .hero_overlay .desc h5 {

	font-family: myriad;

    font-size: 15px;

    font-size: 1.5rem;

    font-weight: 400;

    line-height: 1.5em;

    margin-bottom: 35px;

	text-align: center;

}



.tapia_video_hero .hero_overlay .btn {

	background-color: #004a98;

    border-radius: 0;

    border: 0;

	color: #fff;

    font-family: 'Poppins', sans-serif;

    font-size: 18px;

    font-size: 1.6rem;

    font-weight: 400;

    padding: 12px 30px;

}



/*********************************



Section Services



*********************************/

.services {

	float: left;

	width: 100%;

}



.services .col-md-4{

	background-color: #fcfcfc;

	padding: 15px 15px;

	border: 2px solid #fff;

}





.shade_service {

	width: 100%;

	padding-bottom: 15px;

}



.shade_service .col-md-5,

.shade_service .col-md-7 {

	padding: 0 15px !important;

}





.shade_service img{

	width: auto;

	max-width: 100%;

	height: auto;

}



.shade_service h4{

	font-size: 12px;

	font-weight: 600;

	text-transform: uppercase;

	margin-bottom: 20px !important;

	color: #444444;

}



.shade_service p{

	font-family: 'Poppins', Lato;

	font-size: 12px;

	color: #818181;

	word-spacing: 0.3em;
	text-align: justify;

}





/*********************************



Section CEO portion



*********************************/



.ceo_portion {

	background-color: #f1f1f1;

	float: left;

	width: 100%;

	position: relative;

}



.ceo_portion::after {

    background: #004a98;

    content: '';

    float: right;

    display: block;

    width: 40%;

    height: 345px;

    border-bottom-left-radius: 35%;

    border-top-left-radius: 35%;

    position: absolute;

    bottom: 0;

    /* left: 810px; */

    right: 0;

    z-index: 1;

}



.left_text {

	margin-top: 15px;

	text-align: right;

}



.left_text button{

	float: left;

	background-color: #151515;

	border-color: #151515;

	border-radius: 0px;

	text-transform: uppercase;

	color: #fff;

	font-size: 13px;

}



.left_text h4{

	font-weight: 600;

	text-transform: uppercase;

	font-size: 30px;

}



.left_text h5{

	font-weight: 400;

	font-size: 22px;

	color: #004a98;

}



.left_text .italic{

	font-family: Lato;

	font-style: italic;

	color: #c6c6c6;

	font-size: 15px;

}



.left_text p{

	font-family: 'Poppins', Lato;

	color: #666666;

	font-size: 15px;

}



.ceo_portion .ceo-info {

	position: relative;

	z-index: 2;

}



.ceo_portion .ceo-info img,

.ceo_portion .ceo-info .right_text {

	z-index: 2;

	position: absolute;	

}



.ceo_portion .ceo-info .col-md-4,

.ceo_portion .ceo-info img{

	height: 345px;

}



.ceo_portion .ceo-info .col-md-8 {

	height: 126px;

}



.ceo_portion .ceo-info .right_text {

	margin-top: 34px;

	color: #fff;

	font-weight: 100;

	font-size: 15px;

	line-height: 1em;

	margin-left: 100px;

	text-align: justify;

}



.ceo_name{

	padding-top: 20px;

	font-weight: 400;

	text-transform: uppercase;

}



.ceo_title{

	font-weight: 400;

	font-size: 12px;

}



.right_bg {

	background: #004a98;

	float: right;

	display: block;

	width: 40%;

	height: 395px;

	border-bottom-left-radius: 35%;

	border-top-left-radius: 35%;

	position: absolute;

	top: 0;

	/*left: 810px;*/

	right: 0;

	z-index: 1;

}





/*********************************



Section Quality Service



*********************************/



.quality_service h2 {

	font-weight: 600;

	text-transform: uppercase;

	color: #004A98;

	padding-bottom: 30px;

}



.quality_service img, 

.quality_service a {

	display: inline-block;

	margin: 10px auto;

}



.quality_service img {

	display: block;

}



.quality_service a {

	background-color: #004A98;

	border-color: #004A98;

	border-radius: 0px;

}



.quality_service .kc-css-506136 {

	display: none;

}





/*********************************



Section Our Offices



*********************************/



.our_offices{

	float: left;

	width: 100%;

	background-color: #f6f6f6;

}



.office_top_part,

.project_top_part {

	text-align: center;

}



.office_top_part .ofc_first_head,

.project_top_part .project_first_head{



	padding-top: 15px;

	font-weight: normal;

	font-size: 14px;

	color: #666666;



}



.office_top_part h2,

.project_top_part h2{

	color: #333333;

	text-transform: uppercase;

	font-weight: 600;

	font-size: 40px;

}



.office_top_part h5,

.project_top_part h5{

	font-family: lato;

	font-style: italic;

	font-size: 15px;

	color: #666666;

	line-height: 2em;

}



.bg_logo_ofc img{

	display: block;

	margin: 10px auto;

	max-width: 100%;

	height: auto;

}



.hide{display: none;}



/**** Custom Masonry ********/



.left-full.first {

	height: 500px;

}

.left-thirty-five {

	float: left;

	width: 35%;

	height: 500px;

}

.left-thirty-five img {

	height: 500px;

	width: 100%;

	float: left;

}

.sixty-five {

	float: left;

	width: 65%;

	height: 500px;

}

.thirty-five {

	float: left;

	width: 35%;

	height: 250px;

}

.thirty-five img {

	height: 250px;

	width: 100%;

}

.seventy-five {

	width: 65%;

	float: left;

	height: 250px;

}

.seventy-five img {

	height: 250px;

	width: 100%;

	float: left;

}



/*********************************



Section Our Project



*********************************/



.our_projects{

	background-image: url('images/project_bg.jpg');

	width: 100%;

	height: 504px;

	z-index: -1;

	float: left;

	background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

}



.project_top_part .project_first_head,

.project_top_part h2,

.project_top_part h5{

	color: #fff !important;

}



.page-template-template-projects .project_section {

	margin-bottom: 100px;

    margin-top: -100px;

}







/*********************************



Section descargables



*********************************/

.descargables {

	background-image: url('images/descargables.jpg');

	background-size: cover;

	width: 100%;

	position: relative;

	float: left;

}



.descargables .descar{

	font-weight: 600;

	color: #fff;

	text-transform: uppercase;

	margin-top: 30px;

}



.descargables button {

	background-color: #004a98;

	border-color: #004a98;

	border-radius: 0px;

	float: right;

	margin-top: 100px;

}



.descargables .devider {

	height: 30px;

	float: none;

}







/*********************************



Section Blog



*********************************/



.blog{

	float: left;

	width: 100%;

}



.blog .site-main > .container,

.single .site-main > .container > .row > .col-md-3 {

	margin-top: 70px;

}



.single .site-main > .container > .row > .col-md-8 {

	margin-bottom: 50px;

}



.blog .site-main > .container > .row > .col-md-3 .widget-title {

	margin-top: 0;

}



.post_thumbnail {

	display: block;

	clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);

	height: 240px;

}



.link .post_thumbnail {

	position: relative;

	width: 100%;

}

.project_section {

	margin-top: -200px;

}

.project_col:hover .info {

	display: block;

	/* background-color: #fff; */

	position: absolute;

	top: 100px;

	text-align: center;

	left: 175px;

	color: #fff;

}

#loadMore {

	background: #000;

	color: #fff;

	padding: 10px 0px;

	margin-top: 10px;

	width: 120px !important;

	display: block;

	margin: 0 auto;

}

.load_more_cl p {

	display: none;

}



/**************/





.project_col {

  position: relative;

}



.image {

  display: block;

  width: 100%;

  height: auto;

}



.projects .overlay {

	position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    height: auto;

    width: 100%;

    opacity: 0;

    transition: .5s ease;

    background-color: #004A98;

    color: #fff;

    overflow: hidden;

}



.project_col:hover .overlay {

  opacity: 0.7;

}

.overlay img {

	/* display: block; */

	/* margin: 120px auto; */

	height: auto;

	width: 40px !important;

	position: absolute;

	left: 46%;

	top: 46%;

	height: 40px !important;

}

.text {

	color: white;

	font-size: 20px;

	position: absolute;

	top: 35%;

	left: 50%;

	transform: translate(-50%, -50%);

	-ms-transform: translate(-50%, -50%);

	text-align: center;

	width: 100%;

}

.left-full.second {

	height: 300px;

}

.second-45.project_col {

	height: 300px;

	float: left;

	width: 45%;

}

.second-45 img {

	height: 300px;

	float: left;

	width: 100%;

}

.second-25.project_col {

	height: 300px;

	float: left;

	width: 25%;

}

.second-25 img {

	float: left;

	width: 100%;

	height: 300px;

}

.second-30 {

	float: left;

	width: 30%;

	height: 300px;

}

.second-30 img {

	height: 300px;

	float: left;

	width: 100%;

}



.projects {

	padding-top: 30px;

}



.tapia-project-more .btn {

	background-color: #151515;

    border-radius: 0;

    color: #fff;

    font-family: 'Poppins', sans-serif;

    font-size: 16px;

    font-size: 1.6rem;

    font-weight: 400;

    padding: 10px 25px;

    text-transform: uppercase;

}





/*****************/



.info{display: none;}

.load_more_cl {

	float: left;

	width: 100%;

	text-align: center;

	margin-top: 10px;

}

#loadMore {

	background: #000;

	color: #fff;

	padding: 10px 0px;

	margin-top: 10px;

}



.link .post_link {

	right: 50px;

	float: right;

	top: 180px;

	position: absolute;

}



.post_title {

	font-weight: 600;

	font-size: 20px;

	color: #06519f;

}

.post_info {

	font-size: 12px;

}

.post_info i{

	padding-right: 10px;

	color: #004A98;

}

.post_info i:last-child{

	padding-left: 10px;

}

.content {

	font-family: 'Poppins', lato;

	font-size: 13px;

	line-height: 2em;

}

.wpcf7-form-control.wpcf7-textarea.form-control {

	height: 100px;

}

.wpcf7-form-control.wpcf7-submit.btn.btn-lg.btn-primary {

	background-color: #004A98;

	border-color: #004A98;

	font-size: 14px !important;

	text-transform: uppercase;

}



/*********************************



Section Contact



*********************************/



.contact {

	float: left;

	width: 100%;

	background: linear-gradient(to left, #fff 50%, #000 50%);

	padding: 50px 0 30px 0;

}



.contact h3 {

	font-weight: 400;

	color: #fff;

	text-transform: uppercase;

}



.contact_map img{

	width: 100%;

	display: block;

	margin: auto;

}



.ideal_web_guru_form{

	padding: 30px 0;

}





.ideal_web_guru_form input, 

.ideal_web_guru_form textarea {

	border-radius: 0px;

	border: 1px solid #666666;

	background: transparent;

	margin-bottom: 20px;

}



.ideal_web_guru_form input::placeholder, 

.ideal_web_guru_form textarea::placeholder{

	color: #fff;

}



.ideal_web_guru_form button{

	border-radius: 0;

	font-family: poppins;

	text-transform: uppercase;

	background-color: #004a98;

	border-color: #004a98;

	font-size: 14px;

}



/*********************************



Section Newsletter



*********************************/



.newsletter{

	float: left;

	width: 100%;

	background-color: #004a98;

	height: 150px;

}



.ideal_web_guru_newsletter {

	padding: 3% 10%;

}



.ideal_web_guru_newsletter label {

	font-family: poppins;

	font-size: 20px;

	color: #fff;

	margin-right: 195px;

	width: 100%;

	margin-top: 15px;

}

.newsletter-form {

	margin-top: 7px;

}

.ideal_web_guru_newsletter input {

	height: 50px;

	border-color: #fff;

	border-radius: 30px;

	width: 450px !important;

}



.ideal_web_guru_newsletter input::placeholder{

	font-family: Lato;

	font-style: italic;

	font-size: 12px;

}



.ideal_web_guru_newsletter button{

	background-color: #050505;

	border-radius: 30px;

	border-color: #050505;

}



.ideal_web_guru_newsletter button {

	background-color: #050505;

	border-radius: 30px;

	border-color: #050505;

	height: 45px;

	width: 120px;

	position: absolute;

	top: 37px;

	right: 130px;

}







/*********************************



Section Top Footer



*********************************/





.footer_upper {

	float: left;

	width: 100%;

	background: #0e0e0e;

	color: #fff;

}



.footer_upper h4{

	font-weight: bolder;

	padding-bottom: 15px;

}



.footer_upper a{

	color: #fff;

}



.footer_upper a:hover{

	text-decoration: none;

	color: #004a98;

}



.first_col .short_info{

	font-family: 'Poppins', Lato;

	font-size: 14px;

	color: #bfbfbf;

	line-height: 2em;

	padding-bottom: 15px;



}



.first_col .ofc_hour{

	color: #04366e;

	padding-bottom: 15px;

}



.footer_social_icons {

	list-style: none;

	width: 100%;

}



.footer_social_icons i {

	background: #1a1a1a;

	width: 50px;

	height: 50px;

	border-radius: 25px;

	margin: auto;

	font-size: 20px;

	margin-right: 5px;

}



.footer_social_icons li {

	display: inline;

}



.footer_social_icons {

	list-style: none;

	width: 100%;

	margin: 0;

	padding: 0;

}



.footer_social_icons a{

	padding: 0px;

	margin: 0px;

	color: #fff;

}

.footer_social_icons a:hover{

	text-decoration: none;

	color: #004a98;

}



.footer_social_icons .fab.fa-facebook-f {

	padding: 4% 5.5%;

}



.footer_social_icons .fab.fa-google-plus-g {

	padding: 4% 4%;

}



.footer_social_icons .fab.fa-twitter{

	padding: 4% 4%;

}



.footer_social_icons .fab.fa-linkedin-in{

	padding: 4% 4%;

}



.ofcs{

	list-style: none;

	padding-left: 30px;

}



.ofcs li{

	padding-bottom: 10px;

}



.ofcs li::before {

	color: #004a98;

	content: "\f111";

    font-family: FontAwesome;

    left:15px;

    position: absolute;

}



.fservices{

	list-style: none;

	padding-left: 30px;

}



.fservices li{

	padding-bottom: 10px;

}



.fservices li::before {

	color: #004a98;

	content: "\f013";

    font-family: FontAwesome;

    left:15px;

    position: absolute;

}



/*********************************



Jobs



*********************************/



.job {

	-webkit-box-shadow: 0 0 6px #6a6868;

	box-shadow: 0 0 6px #6a6868;

	background-color: #f1f1f1;

	margin-bottom: 45px;

	padding: 35px;

}



.job:first-child {

	margin-top: 70px;

}



.job .job-title {

	font-family: 'Poppins', sans-serif;

	font-size: 24px;

	font-size: 2.4rem;

	font-weight: 700;

	text-transform: uppercase;

}



.job .job-title a {

	color: #035186;

}



.job .job-title a:hover,

.job .job-title a:focus {

	text-decoration: none;

	opacity: .8;

}



.job .job-meta .place,

.job .job-meta .price,

.tapia-single-job .job-meta .place,

.tapia-single-job .job-meta .price {

	color: #000;

	display: inline-block;

	font-family: 'Poppins', sans-serif;

	font-size: 22px;

	font-size: 2.2rem;

	font-weight: 300;

	line-height: 60px;

	text-transform: uppercase;

}



.job .job-meta .price,

.tapia-single-job .job-meta .price {

	margin-left: 20%;

}



.job .job-meta .place img,

.job .job-meta .price img,

.tapia-single-job .job-meta .place img,

.tapia-single-job .job-meta .price img {

	display: inline-block;

	margin-right: 5px;

	margin-top: -6px;

}



.job .job-excerpt,

.tapia-single-job .desc {

	color: #000;

	display: inline-block;

	font-family: 'Poppins', sans-serif;

	font-size: 22px;

	font-size: 2.2rem;

	font-weight: 300;

	line-height: 1.5;

	margin-top: 15px;

	text-transform: uppercase;	

}



.job .btn-more {

	background-color: #151515;

	border-radius: 0;

	color: #fff;

	font-family: 'Poppins', sans-serif;

	font-size: 16px;

	font-size: 1.6rem;

	font-weight: 400;

	padding: 10px 25px;

	text-transform: uppercase;

}



.job .btn-more:hover,

.job .btn-more:focus {

	opacity: .8;

}



.tapia-single-job {

	margin-bottom: 70px;

}



.tapia-single-job .post-title {

	margin-top: 70px;

}



.tapia-single-job .desc {

	margin-bottom: 70px;

}



.cv-uploader-label {

	border: 1px solid #000;

	border-radius: 30px;

	margin-left: 30px;

	padding: 5px 15px;

}



.cv-uploader-label::after {

	clear: both;

	content: '';

	display: table;

}



.cv-uploader-label > span:first-of-type {

	display: inline-block;

	margin-left: -30px;

	margin-right: 15px;

	float: left;

}



.cv-uploader-label > span:first-of-type a {

	background-color: #000;

	border-radius: 30px;

	color: #fff;

	font-family: 'Poppins', sans-serif;

	font-size: 12px;

	font-size: 1.2rem;

	font-weight: 400;

	padding: 15px;

	text-transform: uppercase;

}



.cv-uploader-label > span:last-of-type {

	font-size: 11px;

		margin-top: 15px;

    display: inline-block;

    float: right;

    width: calc( 100% - 124px );

}



.cv-uploader-label + p {

	padding: 0 50px;

    margin-top: 10px;

    font-size: 12px;

    font-family: 'Times new Roman';

}



.cv-uploader-form .btn {

	background-color: #000;

	border-radius: 0;

	color: #fff;

	font-family: 'Poppins', sans-serif;

	font-size: 14px;

	font-size: 1.4rem;

	font-weight: 400;



}



.single-job-divider {

	float: left;

	height: 150px;

}



/*********************************



Blog



*********************************/



.tapia-blog-post {

	margin-bottom: 60px;

}



.tapia-blog-post .content-area {

	display: table;

}



.tapia-blog-post .content-area .left {

	padding-right: 15px;

}



.tapia-blog-post .content-area > div {

	display: table-cell;

	vertical-align: top;

}



.tapia-blog-post .content-area .post-title {

	font-size: 22px;

	font-size: 2.2rem;


	margin: 0 0 10px;

}



.tapia-blog-post .content-area .post-title a {

    color: #06519f;

    font-family: 'Poppins', sans-serif;

    font-size: 22px;

    background: #fff;

    display: inline;

    -webkit-transition: opacity .45s ease;

    -o-transition: opacity .45s ease;

    transition: opacity .45s ease;

}



.tapia-blog-post .content-area .post-title a:hover,

.tapia-blog-post .content-area .post-title a:focus {

	opacity: .7;

	text-decoration: none;

}



.tapia-blog-post .content-area .excerpt {

	color: #3b3b3d;

	font-family: 'Poppins', sans-serif;

	font-size: 14px;

	font-size: 1.4rem;

	line-height: 1.4;

	margin-bottom: 12px;

}



.tapia-blog-post .content-area .meta {

	border-bottom: 1px solid #dcdcdc;

	border-top: 1px solid #dcdcdc;

	font-size: 14px;

	font-size: 1.4rem;

}



.tapia-blog-post .content-area .date,

.tapia-blog-post .content-area .user {

	line-height: 42px;

}





.tapia-blog-post .content-area .date {

	margin-right: 10px;

}



.tapia-blog-post .content-area .user {

	margin-left: 10px;

}



.tapia-blog-post .content-area .date i,

.tapia-blog-post .content-area .user i {

	margin-right: 5px;

}



.tapia-blog-post .content-area .date i {

	color: #20a7ff;

}



.tapia-blog-post .content-area .user i {

	color: #f18d06;

}



.tapia-blog-post .content-area .btn {

	border-radius: 0;

	padding: 8px 15px;

	text-align: center;

}



.tapia-single-post .image-wrapper {

	margin-top: -70px;

}



.tapia-single-post .image-wrapper img {

	height: auto;

	max-width: 100%;

}



.tapia-single-post .post-title {

	color: #035186;

	font-family: 'Poppins', sans-serif;

	font-size: 24px;

	font-size: 2.4rem;

	font-weight: 700;

	margin: 40px 0 30px;

}



.tapia-single-post .desc {

	color: #585858;

	font-family: 'Poppins', sans-serif;

	font-size: 18px;

	font-size: 1.8rem;

	font-weight: 400;

	line-height: 2;

	

}



.tapia-single-post .gallery::after {

	clear: both;

	content: '';

	display: table;

}



.tapia-single-post .gallery-item {

	float: left;

	padding: 0 30px;

	width: 45%;

}



.tapia-single-post .gallery-item:first-child {

	padding-left: 0;

}



.tapia-single-post .gallery-item img {

	height: auto;

	max-width: 100%;

}



.tapia-single-post .gallery-item figcaption {

	color: #000;

	font-family: 'Poppins', sans-serif;

	font-size: 18px;

	font-size: 1.8rem;

	font-weight: 400;

	line-height: 1.5;

	margin-top: 10px;

	text-align: center;

}



.footer_upper .widget .widget-title {

	font-size: 15px;

}



.footer_upper .widget .widget-title,

.footer_upper .widget .widget-title span {

	background: transparent;

	color: #fff;

}



/*********************************



Section Footer



*********************************/



.footer {

	float: left;

	width: 100%;

	text-align: center;

	height: 60px;

	background-color: #000;

	color: #fff;

	font-size: 13px;

}



.footer p{

	padding: 15px 0 10px 0;

}



.fl img {

	width: 40%;

	display: block;

	margin: 0 auto;

}



/*********************************



Widget



*********************************/



.widget-title {

    background: transparent url( 'images/widget-title-bg.png' ) repeat-x 0 60%;

    margin-bottom: 24px;

	margin-top: 0;

}



.widget-title span {

	background: #fff;

    display: inline-block;

    padding-right: 12px;

    color: #3b3b3d;	

}



/*	----------------------------------------------------------

	TagCloud

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */



.tagcloud ul {

	list-style: none;

	margin: 0;

	padding: 0;

}



.tagcloud ul li {

	display: inline-block;

}



.tagcloud a {

	background-color: #174a88;

    padding: 8px 10px;

    display: inline-block;

    margin: 4px 2px;

    text-decoration: none;

    color:  #fff !important;

}



.tagcloud a:hover,

.tagcloud a:focus {

	opacity: .95;

}





/* ==|== Widget announce = = = = = = = = = = = = = = = = = = = = = */



.announce-body h1 {margin-bottom: 10px; font-weight: bold; color: #fff;}

.announce-body h3 { color: #fff;}

.announce-body {

	font-family: 'Arimo', sans-serif;

	padding: 48px 0;

	text-align: center;

}





/* ==|== Widget Adrress = = = = = = = = = = = = = = = = = = = = = */



.site-footer .widget_adress {

	color: #fff;

	font-size: 15px;

}



.widget_adress a{

	color: #fff;

	text-decoration: none;

	font-weight: bold;

	font-size: 18px;

}



#colophon .widget_adress h3.org, .widget_adress h3.org {

	margin-bottom: 20px;

}



/*-----------------------------------------------------------

	Calendar

-----------------------------------------------------------*/



#calendar_wrap {

	margin: 0;

	color: #343434;

	background: #fff;

}



#wp-calendar, #wp-calendar th, #wp-calendar td {

	text-align: center;

	background: none;

	border: none;



}



#wp-calendar {

	background: none;

	empty-cells: hide;

	width: 100%;

	font-size: 12px;

}



#wp-calendar th {

	font-style: normal;

	font-weight: bold;

	text-transform: capitalize;

	border-bottom: 1px solid #ddd;

}



#wp-calendar td {

	text-align: center;

	background: #fff;

	padding: 5px;

	border-bottom: 1px solid #ddd;

}



#wp-calendar td:hover {

	background-color: #fff;

}



#wp-calendar a {

	text-decoration: none;

	display: block;

	padding: 5px;

}



#wp-calendar a:hover {

	background: #f9f9f9;

}



#wp-calendar caption {

	font-weight: bold;

	text-align: center;

}



#wp-calendar #today {

	background-color: #f3f3f3;

}



#wp-calendar caption {

	text-align: center;

	width: 100%;

}



#wp-calendar .pad {

	background-color: #fff;

}



#wp-calendar #next a {

	padding-right: 10px;

	text-align: right;

	background: #f0f3f5;

}



#wp-calendar #prev a {

	padding-left: 10px;

	text-align: left;

	background: #f0f3f5;

}



#wp-calendar #prev a:hover, #wp-calendar #next a:hover {

}



#wp-calendar .pad, #wp-calendar .pad:hover {

}



svg text {

	visibility: hidden;

}



.info-overlay {

	background-color: #fff;

	-webkit-box-shadow: 0 0 3px #a7a7a7;

	box-shadow: 0 2px 8px #a7a7a7;

	color: #000;

	display: inline-block;

	padding: 30px 40px;

	visibility: hidden;

	position: absolute;

	right: 10%;

}



.info-overlay  ul {

	list-style: none;

	padding: 0;

}



.info-overlay  ul li::before {

	content: '-';

	margin-right: 5px;

	display: inline-block;

}



#Capa_1 .marker {

	-webkit-transition: all .45s ease;

	-o-transition: all .45s ease;

	transition: all .45s ease;

}



#Capa_1 .marker:hover,

#Capa_1 .marker:focus {

	cursor: pointer;

	fill: #004a98;

}



.contact_map .title,

.contact_map .subtitle {

	color: #005590;

	font-family: 'Poppins', sans-serif;

	font-size: 24px;

	font-size: 2.4rem;

	font-weight: 400;

	line-height: 1;

	margin: 0;

	text-align: center;

}



.contact_map .subtitle {

	color: #939597;

}.admin-bar .is-sticky .content_head{	top:32px !important;	transition: all 300ms ease-in-out;     z-index: 9999 !important;}.is-sticky{	z-index: 9999;	transition: all 300ms ease-in-out;     z-index: 9999 !important;}.is-sticky .content_head{	background: #fff;	padding-top:20px;	box-shadow: 0px 1px 5px rgba(0,0,0,.2);	transition: all 300ms ease-in-out;    z-index: 9999 !important;}.is-sticky .logo_area img {    max-height: 50px;    width: auto;	transition: all 300ms ease-in-out;}

.is-sticky  .navbar {    padding-top: 14px;    padding-bottom: 14px;	transition: all 300ms ease-in-out;}

.is-sticky .text-certificate p {

    margin-top: -31px;

}

.is-sticky .img-certificate img {

    height: 35px;

}

@media ( max-width: 991px ) {

	.contact {

		background: transparent;

	}



	.contact-col {

		background-color: #000;

		margin-bottom: 30px;

		padding: 0 30px;

	}



	.map-col {

		margin-bottom: 30px;

	}



	/* Services */

	.shade_service {

		text-align: center;

	}



	.shade_service .col-md-7 {

		margin-top: 15px;

	}



	.projects .left-thirty-five,

	.projects .sixty-five {

		width: 100%;

		overflow: hidden;

	}



	.projects .left-thirty-five img {

		width: 100%;

	}



	.projects .sixty-five > div {

		width: 50%;

	}



	/* CEO Portion */

	

	.ceo_portion::after {

		display: none;

	}



	.ceo_portion .kc-wrap-columns > div {

		width: 100%;

	}



	.ceo-info > div {

		background-color: #004a98;

	}



	.ceo_portion::after {

		width: 100%;

	}



	.ceo_portion .ceo-info .col-md-4,

	.ceo_portion .ceo-info img {

		position: relative;

		height: auto;

		display: inline-block;

		margin: 15px 0;

		width: 100%;

	}



	.ceo_text {

		color: #fff;

		margin-top: 100px;

	}



	.ceo_name {

	    padding-top: 20px;

	    font-weight: 500;

	    text-transform: uppercase;

	    font-size: 18px;

	}



	.ceo_title {

	    font-weight: 400;

	    font-size: 15px;

	}



	.quality_service .kc-css-105171 {

		display: none;

	}



	.quality_service .kc-css-506136 {

		display: block;

		text-align: center;

	}



	.blog .col {

		text-align: center;

	}



	#custom_newsletter .tnp-submit {

		margin-right: -35px;

	}



	.tapia-blog-post .content-area {

		display: block;

		text-align: center;

		max-width: 600px;

	}



	.tapia-blog-post .content-area > div {

		display: block;

	}



	.tapia-sidebar {

		margin-bottom: 50px;

	}



	.tapia-blog-post .content-area .left {

	    margin-bottom: 30px;

	}



	.cv-uploader-form .pull-right {

		float: none !important;

		text-align: center;

	}



	.map-col {

		float: none !important;

	}



	.contact {

		padding-bottom: 0;

	}



	.contact-col {

		margin-bottom: 0;

	}



	.project_top_part .project_first_head,

	.project_top_part h2,

	.project_top_part h5 {

		color: #000 !important;

	}



}



@media ( min-width: 768px ) and  ( max-width: 991px ) {



	.logo_area img {

		height: auto;

		max-width: 130px;

	}



	.navbar {

		padding-top: 12px;

    	padding-bottom: 0;

	}



	.contact .container {

		padding: 0;

	}



}



@media ( max-width: 767px ) {



	.logo_area {

		margin-top: 15px;

	}



	.logo_area img {

		height: auto;

		max-width: 100px;

	}

	

	.content_head .col-md-8 {

		padding: 0;

	}



	.navbar_area {

		background: #004a98;

		margin-top: 15px;

		padding: 30px;

		text-align: center;

	}



	.navbar_area ul {

		padding: 0;

	}

	

	.navbar_area ul li {

		display: block;

	}



	.navbar_area ul li a {

		color: #fff;

	}



	/* Hero */

	

	.tapia-hero .hero_text {

		top: 25%;

	}



	.tapia-hero .hero_text h2,

	.tapia_video_hero .hero_overlay .desc h2 {

		font-size: 26px;

	}



	.tapia-hero .hero_text h4,

	.tapia_video_hero .hero_overlay .desc h4 {

		font-size: 17px;

		line-height: 1.5;

	}



	.tapia-hero .hero_text h5 p,

	.tapia_video_hero .hero_overlay .desc h5 {

		font-size: 13px;

		line-height: 1.5;

	}



	.tapia-hero .hero_text .btn,

	.tapia_video_hero .hero_overlay .desc .btn {

		font-size: 13px;

	}



	.ceo_text {

		margin-top: 40px;

	}



	.tapia-main-menu {

		display: none;

	}



	.navbar-toggle  {

		background-color: #004a98;

	}



	.navbar-toggle .icon-bar {

		background-color: #fff;

	}



	.tapia-blog-post .content-area .meta > * {

		display: block;

		margin-bottom: 15px;

	}



	.tapia-blog-post .content-area .meta .readmore {

		float: none !important;

	}



	.ideal_web_guru_newsletter {

		padding: 3% 30px;

	}



	#custom_newsletter .tnp-submit {

		margin-right: 0;

	}



	.tapia_video_hero {

		overflow: hidden;

	}



	.tapia_video_hero .video {

		width: 200%;

	}



}

.project_tags {



    padding: 20px 0px;

    color: #000;

    font-size: 18px;

    text-transform: uppercase;



}

.project_tags span {



    color: #004a98;



}

.project_tags a {



    font-weight: 500;



}

/* LS CUstom Css by ER */
.project_col a.ls_linkimg{position: absolute;height: 100%;width:100%;}