﻿@model EjercicioTalper.Models.ViewModels.ProspectoViewModel
@{
    ViewBag.Title = "Capturar Prospecto";
}
<link rel="stylesheet" href="~/Scripts/CSS/materialize.min.css">
<link rel="stylesheet" href="~/Scripts/CSS/materialize.css">
<div class="alert-success">@ViewBag.Message</div>
<div class="alert-danger">@ViewBag.ErrorMessage</div>
<h2 style="text-decoration:dashed; text-align:center;">@ViewBag.Title</h2>
<div>
    @using (Html.BeginForm("Add", "Capture", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <form id="applyForm">
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12 m4">
                        <input id="txtNombre" type="text" name="Nombre" class="@(ViewData.ModelState.ContainsKey("Nombre") && ViewData.ModelState["Nombre"].Errors.Any() ? "input-validation-error" : string.Empty )" required />
                        <label for="txtNombre">Nombre(s) *</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="txtApellidoPaterno" type="text" name="ApellidoPaterno" class="@(ViewData.ModelState.ContainsKey("ApellidoPaterno") && ViewData.ModelState["ApellidoPaterno"].Errors.Any() ? "input-validation-error" : string.Empty )" required />
                        <label for="txtApellidoPaterno">Apellido Paterno *</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="txtApellidoMaterno" type="text" name="ApellidoMaterno" class="@(ViewData.ModelState.ContainsKey("ApellidoMaterno") && ViewData.ModelState["ApellidoMaterno"].Errors.Any() ? "input-validation-error" : string.Empty )" required />
                        <label for="ApellidoMaterno">Apellido Materno *</label>
                    </div>
                    <br />
                    <div class="input-field col s12 m4">
                        <input id="txtCalle" type="text" name="Calle" class="@(ViewData.ModelState.ContainsKey("Calle") && ViewData.ModelState["Calle"].Errors.Any() ? "input-validation-error" : string.Empty )" required />
                        <label for="txtCalle">Calle *</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="txtNumero" type="text" name="Numero" class="@(ViewData.ModelState.ContainsKey("Numero") && ViewData.ModelState["Numero"].Errors.Any() ? "input-validation-error" : string.Empty )" required />
                        <label for="txtNumero">Número *</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="txtColonia" type="text" name="Colonia" class="@(ViewData.ModelState.ContainsKey("Colonia") && ViewData.ModelState["Colonia"].Errors.Any() ? "input-validation-error" : string.Empty )" required />
                        <label for="txtColonia">Colonia *</label>
                    </div>
                    <br />
                    <div class="input-field col s12 m4">
                        <input id="txtCodigoPostal" type="number" name="CodigoPostal" class="@(ViewData.ModelState.ContainsKey("CodigoPostal") && ViewData.ModelState["CodigoPostal"].Errors.Any() ? "input-validation-error" : string.Empty )" required />
                        <label for="txtCodigoPostal">Código Postal *</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="txtTelefono" type="text" name="Telefono" class="@(ViewData.ModelState.ContainsKey("Telefono") && ViewData.ModelState["Telefono"].Errors.Any() ? "input-validation-error" : string.Empty )" required />
                        <label for="txtTelefono">Teléfono *</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="txtRFC" type="text" name="RFC" class="@(ViewData.ModelState.ContainsKey("RFC") && ViewData.ModelState["RFC"].Errors.Any() ? "input-validation-error" : string.Empty )" required maxlength="13" />
                        <label for="txtRFC">RFC *</label>
                    </div>
                    <br />
                    <div id="goals-documents">
                        <label>Documento(s) *</label>
                        <input type="file" name="file" required />
                        <br />
                    </div>
                    <button class="btn-primary" title="Agregar Documento" id="add-Documento" type="button" onclick="addDocument()">+</button>
                    <br />
                    <div class="form-group" style="text-align:center">
                        <input contextmenu="Guardar" type="submit" class="btn btn-success" style="width: 150px;" title="Guardar" />
                    </div>
                </div>
            </div>
        </form>
    }

    <template id="templete-documentos">
        <input type="file" name="file" required />
        <br />
    </template>
    <script src="~/Scripts/materialize.min.js"></script>
    <script>

        function addDocument(args, evt) {
            var result = confirm("¿Esta Seguro de agregar otro documento?");
            if (result == true) {
                var documento = $('#templete-documentos').html();
                $('#goals-documents').append(documento);
            } else {
                return;
            }
            window.onbeforeunload = areYouSure();
            var areYouReallySure = false;
            function areYouSure() {
                debugger;
                if (allowPrompt) {
                    if (!areYouReallySure && true) {
                        areYouReallySure = true;
                        var confMessage = "Si sale perdera toda la imformación no guradada ¿Esta seguro de salir? ";
                        return confMessage;
                    }
                } else {
                    allowPrompt = true;
                }
            }

            var allowPrompt = true;
            window.onbeforeunload = areYouSure;
        }
    </script>
</div>

